# Virtual environments
venv/
.venv/
env/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.local


# IDE settings
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
backend_logs.txt
